* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #000000;
  --text-color: #000;
  --alt-color: #5dc3ff;
  --light-color: #f3f3f3;
  --dark-color: #383838;
}

body {
  font-size: 16px;
  line-height: 1.6;
  font-size: 1.1rem;
  font-family: "Chivo Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--light-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  color: var(--alt-color);
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
  text-indent: 5%;
  font-family: "JetBrains Mono", monospace;
  color: var(--alt-color);
}

p {
  margin: 40px 0;
}

/* navbar */
#navbar {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 120px;
  font-family: "JetBrains Mono", monospace;
}

#logo {
  width: 170px;
}

#logo a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  color: var(--alt-color);
}

#logo a img {
  height: 80px;
  width: 80px;
}

#main-menu {
  max-width: 470px;
}

#main-menu ul {
  display: flex;
  font-size: 1.5rem;
}

#main-menu ul li {
  padding: 10px;
}

#main-menu ul li a {
  color: var(--alt-color);
  font-weight: 600;
}

#main-menu ul li a:hover {
  transition: 0.5s;
  color: var(--light-color);
}

#mobile-menu {
  display: none;
  width: 170px;
  color: var(--alt-color);
}

/* hero */
#hero {
  margin: 60px 0;
  min-height: calc(100vh - 220px);
}

.container {
  width: 55%;
  margin: auto;
}

.main-cont {
  margin: 80px 0;
}

.list li {
  padding: 5px 0;
}

.center-cont {
  text-align: center;
  margin: 40px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
}

.img_container img {
  height: auto;
}

.imgMobile {
  display: none;
}

.project-cont {
  margin: 100px 0;
}

.post {
  /* Add a shadow, padding and some margin top and bottom */
  width: 100%;
  padding: 10px 15px;
  border: black solid 1px;
  border-radius: 15px;
  background-color: #000;
}

.post a {
  color: #fff;
}

/* footer */
#foot {
  background-color: var(--dark-color);
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
  font-size: 0.8rem;
}

#foot-list {
  display: flex;
}

#foot-list li {
  padding: 10px;
}

#foot-list a {
  color: var(--light-color);
}

/* tablet view */
@media screen and (max-width: 780px) {
  .container {
    width: 80%;
  }

  #mobile-menu {
    display: block;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--light-color);
    border-radius: 10px;
    display: block;
  }

  #main-menu ul {
    display: none;
  }

  #main-menu ul.active {
    display: block;
    position: absolute;
    width: 50%;
    z-index: 1;
    background-color: var(--primary-color);
    top: 120px;
    right: 0;
    text-align: center;
  }

  #main-menu ul li {
    padding: 0;
  }

  #main-menu ul li a {
    height: 100%;
    width: 100%;
    display: block;
    padding: 10px;
  }
}

/* mobile view */
@media screen and (max-width: 500px) {
  body {
    font-size: 1rem;
  }

  #navbar {
    position: fixed;
  }

  #main-menu ul.active {
    width: 100%;
  }

  #hero {
    margin: 0;
    padding-top: 120px;
  }

  .container {
    width: 90%;
  }

  .imgDesktop {
    display: none;
  }

  .imgMobile {
    display: block;
  }

  #foot {
    font-size: 0.7rem;
  }
}
