/* || GENERAL STYLES */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #000000;
  --text-color: #000;
  --alt-color: #5dc3ff;
  --light-color: #f3f3f3;
  --dark-color: #383838;
  --border-color: #cacaca;
}

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: "Chivo Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--light-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  color: var(--alt-color);
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 30px;
  text-indent: 5%;
  font-family: "JetBrains Mono", monospace;
  color: var(--alt-color);
}

table {
  border-collapse: collapse;
  margin: 50px auto;
}

td {
  border-bottom: var(--border-color) solid 2px;
  padding: 20px 20px 5px;
}

tr td:last-child {
  text-align: center;
}

/* || SITEWIDE */
.main-cont {
  margin: 80px 0;
}

.container {
  width: 45%;
  margin: auto;
}

.list li {
  padding: 5px 0;
}

.list li a i,
td a i {
  color: var(--primary-color);
}

.center-cont {
  text-align: center;
  padding: 20px;
  border: 5px outset var(--border-color);
}

.img_container img {
  height: auto;
}

.imgMobile {
  display: none;
}

.post {
  box-shadow: 3px 3px 5px var(--dark-color);
  width: 100%;
  padding: 15px 20px;
  margin: 20px 0;
  border: black solid 1px;
  border-radius: 15px;
  background-color: #000;
}

.post p {
  text-align: justify;
}

.post a {
  color: var(--light-color);
}

/* || NAVBAR */
#navbar {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 120px;
  font-family: "JetBrains Mono", monospace;
}

#logo {
  width: 170px;
}

#logo a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  color: var(--alt-color);
}

#logo a img {
  height: 80px;
  width: 80px;
}

#main-menu {
  max-width: 470px;
}

#main-menu ul {
  display: flex;
  font-size: 1.5rem;
}

#main-menu ul li {
  padding: 10px;
}

#main-menu ul li a {
  color: var(--alt-color);
  font-weight: 600;
}

#main-menu ul li a:hover {
  transition: 0.5s;
  color: var(--light-color);
}

#mobile-menu {
  display: none;
  width: 150px;
  color: var(--alt-color);
}

/* || HERO */
#hero {
  min-height: calc(100vh - 300px);
  font-size: 1.1rem;
}

/* || FOOTER */
#foot {
  background-color: var(--dark-color);
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
}

#foot-list {
  display: flex;
  font-size: 0.8rem;
}

#foot-list li {
  padding: 10px;
}

#foot-list a {
  color: var(--light-color);
}

/* || TABLET VIEW */
@media screen and (max-width: 780px) {
  td {
    font-size: 0.9rem;
    padding: 20px 10px 0;
  }

  .container {
    width: 80%;
  }

  .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--light-color);
    border-radius: 10px;
    display: block;
  }

  #mobile-menu {
    display: block;
    cursor: pointer;
  }

  #main-menu ul {
    display: none;
  }

  #main-menu ul.active {
    display: block;
    position: absolute;
    width: 50%;
    z-index: 1;
    background-color: var(--primary-color);
    top: 120px;
    right: 0;
    text-align: center;
  }

  #main-menu ul li {
    padding: 0;
  }

  #main-menu ul li a {
    height: 100%;
    width: 100%;
    display: block;
    padding: 10px;
  }
}

/* || MOBILE VIEW */
@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }

  .imgDesktop {
    display: none;
  }

  .imgMobile {
    display: block;
  }

  #navbar {
    position: fixed;
    justify-content: space-evenly;
  }

  #logo {
    width: 150px;
  }

  #main-menu ul.active {
    width: 100%;
  }

  #hero {
    margin-top: 0;
    padding-top: 120px;
    min-height: calc(100vh - 100px);
  }

  #foot-list {
    font-size: 2vw;
  }
}
